<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Add Member</h1>
    <hr>
    <form action="/add_admin" method="post">
        {% csrf_token %}
        <label for="first_name">First Name</label><br>
        <input type="text" id="first_name" name="first_name" value="{{first_name}}"><br>
        <label for="last_name">Last Name</label><br>
        <input type="text" id="last_name" name="last_name" value="{{last_name}}"><br>
        <label for="dept">Choose department:</label><br>
        <select name="dept" id="dept">
            {% for dept in depts %}
            <option value="{{ dept.id}}">{{ dept.name}}</option>
            {{ dept.name}}
            {% endfor %}
        </select>
        <br>

         <label for="wing">Wing</label><br>
        <select name="wing" id="wing">
            {% for wng in wngs %}
            <option value="{{ wng.id}}">{{ wng.name}}</option>
            {{ wng.name}}
            {% endfor %}
        </select>
        <br>

        <label for="role">Role</label><br>
        <select name="role" id="role">
            {% for rol in roles %}
            <option value="{{ rol.id}}">{{ rol.name}}</option>
            {{ rol.name}}
            {% endfor %}
        </select>
        <br>
        <label for="phone">Phone</label><br>
        <input type="number" id="phone" name="phone" value="{{phone}}"><br>
        <hr>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>