<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EME Club</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body>

  <div class="container">
      <div class="bg-image" style="background-image: url('https://images.pexels.com/photos/354939/pexels-photo-354939.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); height: 100vh">
      <div class="col-md-15 text-center">
      <h1>EME Media Club Management</h1>
      <a class="btn btn-primary" href="/view_admin" role="button">View Members</a>
      <a class="btn btn-primary" href="/add_admin" role="button">Add Members</a>
      <a class="btn btn-primary" href="/remove_admin" role="button">Remove Member</a>
      <a class="btn btn-primary" href="/viewequipment" role="button">View Equipment</a>
      <a class="btn btn-primary" href="/add_equipment" role="button">Add Equipment</a>
      <a class="btn btn-primary" href="/remove_equipment" role="button">Remove Equipment</a>
      <a class="btn btn-primary" href="/borrow_equipment" role="button">Borrow Equipment</a>
      </div>
          </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>