<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View student Body</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
 <body>
  <div class="container">
      <h1>Members Details</h1>
      <hr>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Role</th>
        <th scope="col">Wing</th>
    </tr>
  </thead>
    {% for stds in std %}
  <tbody>
    <tr>
      <th scope="row">{{stds.id}}</th>
      <td>{{stds.first_name}}</td>
      <td>{{stds.last_name}}</td>
      <td>{{stds.role.name}}</td>
        <td>{{stds.wing.name}}</td>
    </tr>


  </tbody>
     {% endfor %}
</table>


</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>