<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Equipment details</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
 <body>
  <div class="container">
      <h1>Equipment Details</h1>
      <hr>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
         <th scope="col">Is Available</th>
    </tr>
  </thead>
    {% for eqp in equips %}
  <tbody>
    <tr>
      <th scope="row">{{eqp.id}}</th>
      <td>{{eqp.name}}</td>
      <td>{{eqp.description}}</td>
        <td>{{eqp.is_available}}</td>
    </tr>


  </tbody>
     {% endfor %}

</table>


</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>